<div class="tracker">
	<div class="metroid">
		<table class="tracker-table">
			<tr>
				<td>
					<div class="spec-sprite darken missile"></div>
					<div class="counter" id="missile">200</div>
				</td>
				<td>
					<div class="spec-sprite darken supermissile"></div>
					<div class="counter" id="supermissile">85</div>
				</td>
				<td>
					<div class="spec-sprite darken powerbomb"></div>
					<div class="counter" id="powerboomb">50</div>
				</td>
				<td>
					<div class="sprite darken grappling"></div>
				</td>
				<td>
					<div class="sprite darken xray"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken charge"></div>
				</td>
				<td>
					<div class="sprite darken ice"></div>
				</td>
				<td>
					<div class="sprite darken wave"></div>
				</td>
				<td>
					<div class="sprite darken spazer"></div>
				</td>
				<td>
					<div class="sprite darken plasma"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken varia"></div>
				</td>
				<td>
					<div class="sprite darken morph"></div>
				</td>
				<td>
					<div class="sprite darken bombs"></div>
				</td>
				<td>
					<div class="sprite darken space"></div>
				</td>
				<td>
					<div class="sprite darken hijump"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken gravity"></div>
				</td>
				<td>
					<div class="sprite darken springball"></div>
				</td>
				<td>
					<div class="sprite darken screw"></div>
				</td>
				<td>
					<div class="sprite darken speed"></div>
				</td>
				<td>
					<div class="spec-sprite darken etank"></div>
					<div class="counter" id="etank">14</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken kraid"></div>
				</td>
				<td>
					<div class="sprite darken phantoon"></div>
				</td>
				<td>
					<div class="sprite darken draygon"></div>
				</td>
				<td>
					<div class="sprite darken ridley"></div>
				</td>
				<td>
					<div class="spec-sprite darken rtank"></div>
					<div class="counter" id="rtank">04</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="timeform">
		<input type="text" class="timer" name="time" value="00:00:00"/>
		<input type="submit" class="submit" value="SUBMIT"/>
		<button id="start" class="start">START</button>
		<button id="pause" class="pause">PAUSE</button>
		<button id="stop" class="stop">STOP</button>
		<button id="reset" class="reset">RESET</button>
	</div>
	<div class="alttp">
		<table class="tracker-table">
			<tr>
				<td>
					<div class="character">
						<div class="tunic tunic0"></div>
						<div id="sword" class="sword0"></div>
						<div id="shield" class="shield0"></div>
						<div class="darken moonpearl"></div>
					</div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite darken bow0"></div>
				</td>
				<td>
					<div class="sprite darken boomerang0"></div>
				</td>
				<td>
					<div class="sprite darken hookshot"></div>
				</td>
				<td>
					<div class="sprite darken mushroom"></div>
				</td>
				<td>
					<div class="sprite darken powder"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite darken firerod"></div>
				</td>
				<td>
					<div class="sprite darken icerod"></div>
				</td>
				<td>
					<div class="sprite darken bombos"></div>
				</td>
				<td>
					<div class="sprite darken ether"></div>
				</td>
				<td>
					<div class="sprite darken quake"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken boss0"></div>
				</td>
				<td>
					<div class="spec-sprite chest3"></div>
				</td>
				<td>
					<div class="sprite darken lantern"></div>
				</td>
				<td>
					<div class="sprite darken hammer"></div>
				</td>
				<td>
					<div class="sprite darken shovel"></div>
				</td>
				<td>
					<div class="sprite darken net"></div>
				</td>
				<td>
					<div class="sprite darken book"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken boss1"></div>
				</td>
				<td>
					<div class="spec-sprite chest2"></div>
				</td>
				<td>
					<div class="sprite darken bottle0"></div>
				</td>
				<td>
					<div class="sprite darken somaria"></div>
				</td>
				<td>
					<div class="sprite darken byrna"></div>
				</td>
				<td>
					<div class="sprite darken cape"></div>
				</td>
				<td>
					<div class="sprite darken mirror"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken boss2"></div>
				</td>
				<td>
					<div class="spec-sprite chest2"></div>
				</td>
				<td>
					<div class="sprite darken boots"></div>
				</td>
				<td>
					<div class="sprite darken glove0"></div>
				</td>
				<td>
					<div class="sprite darken flippers"></div>
				</td>
				<td>
					<div class="sprite darken flute"></div>
				</td>
				<td>
					<div class="sprite darken agahnim0"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="spec-sprite darken boss3"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss4"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss5"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss6"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss7"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss8"></div>
				</td>
				<td>
					<div class="spec-sprite darken boss9"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="spec-sprite chest6"></div>
				</td>
				<td>
					<div class="spec-sprite chest6"></div>
				</td>
				<td>
					<div class="spec-sprite chest6"></div>
				</td>
				<td>
					<div class="spec-sprite chest6"></div>
				</td>
				<td>
					<div class="spec-sprite chest3"></div>
				</td>
				<td>
					<div class="spec-sprite chest2"></div>
				</td>
				<td>
					<div class="spec-sprite chest5"></div>
				</td>
			</tr>
		</table>
	</div>	
</div>
