<div class="tracker">	
	<h1>New <span>Run</span></h1>
	<div class="metroid">
		<table class="tracker-table">
			<tr>
				<td>
					<div class="sprite darken missile"></div>
					<div class="counter" id="missile">200</div>
				</td>
				<td>
					<div class="sprite darken supermissile"></div>
					<div class="counter" id="supermissile">85</div>
				</td>
				<td>
					<div class="sprite darken powerbomb"></div>
					<div class="counter" id="powerboomb">50</div>
				</td>
				<td>
					<div class="sprite darken grappling"></div>
				</td>
				<td>
					<div class="sprite darken xray"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken charge"></div>
				</td>
				<td>
					<div class="sprite darken ice"></div>
				</td>
				<td>
					<div class="sprite darken wave"></div>
				</td>
				<td>
					<div class="sprite darken spazer"></div>
				</td>
				<td>
					<div class="sprite darken plasma"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken varia"></div>
				</td>
				<td>
					<div class="sprite darken morph"></div>
				</td>
				<td>
					<div class="sprite darken bombs"></div>
				</td>
				<td>
					<div class="sprite darken space"></div>
				</td>
				<td>
					<div class="sprite darken hijump"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken gravity"></div>
				</td>
				<td>
					<div class="sprite darken springball"></div>
				</td>
				<td>
					<div class="sprite darken screw"></div>
				</td>
				<td>
					<div class="sprite darken speed"></div>
				</td>
				<td>
					<div class="sprite darken etank"></div>
					<div class="counter" id="etank">14</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite darken kraid"></div>
				</td>
				<td>
					<div class="sprite darken phantoon"></div>
				</td>
				<td>
					<div class="sprite darken draygon"></div>
				</td>
				<td>
					<div class="sprite darken ridley"></div>
				</td>
				<td>
					<div class="sprite darken rtank"></div>
					<div class="counter" id="rtank">04</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="timeform">
		
	</div>
	<div class="alttp">
		<table class="tracker-table">
			<tr>
				<td>
					<div class="character">
						<div class="tunic tunic0"></div>
						<div id="sword" class="sprite sword0"></div>
						<div id="shield" class="sprite shield0"></div>
						<div class="darken moonpearl"></div>
					</div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
				<td>
					<div class="sprite"></div>
				</td>
			</tr>
		</table>
	</div>	
</div>
