<div id="tracker">	
	<h1>New <span>Run</span></h1>
	<div class="metroid">
		<table class="tracker-table">
			<tr>
				<td>
					<div class="sprite missile"></div>
				</td>
				<td>
					<div class="sprite supermissile"></div>
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="timeform">
		
	</div>
	<div class="alttp">
		<table class="tracker-table">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>	
</div>
