// Place all the styles related to the Runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$txt-clr: #ecf0f1;
$counter-clr: #fdd549;
$border:  #7d3c98;
$third: 33%;
$img: "/assets/";

body{
	background: black;
}

.tracker{
}

h1{
	color: $txt-clr;
}

span{
	color: $counter-clr;
}

.tracker-table{
	background: transparent;
	td{
		background:transparent;
		position: relative;
		padding: 0;
		margin: 0;
	}
}

.metroid{
	width: $third;
}

.timeform{
	width: $third;
}

.alttp{
	width: $third;
}

.darken{
	opacity: 0.5;
}

.sprite{
	width: 64px;
	height: 64px;
}

.missile{
	background-image: image-url($img+"missile.png");
}

.supermissile{
	background-image: image-url($img+"supermissile.png");
}

.powerbomb{
	background-image: image-url($img+"powerbomb.png");
	top: 0;
}

.grappling{
	background-image: image-url($img+"grappling.png");	
}

.xray{
	background-image: image-url($img+"xray.png");
}

.charge{
	background-image: image-url($img+"charge.png");
}

.ice{
	background-image: image-url($img+"ice.png");
}

.wave{
	background-image: image-url($img+"wave.png");
}

.spazer{
	background-image: image-url($img+"spazer.png");
}

.plasma{
	background-image: image-url($img+"plasma.png");	
}

.varia{
	background-image: image-url($img+"varia.png");
}

.morph{
	background-image: image-url($img+"morph.png");
}

.bombs{
	background-image: image-url($img+"bombs.png");
}

.space{
	background-image: image-url($img+"space.png");
}

.hijump{
	background-image: image-url($img+"hijump.png");
}

.gravity{
	background-image: image-url($img+"gravity.png");
}

.springball{
	background-image: image-url($img+"springball.png");
}

.screw{
	background-image: image-url($img+"screw.png");
}

.speed{
	background-image: image-url($img+"speed.png");
}

.etank{
	background-image: image-url($img+"etank.png");
}

.kraid{
	background-image: image-url($img+"kraid.png");
}

.phantoon{
	background-image: image-url($img+"phantoon.png");
}

.draygon{
	background-image: image-url($img+"draygon.png");
}

.ridley{
	background-image: image-url($img+"ridley.png");
}

.rtank{
	background-image: image-url($img+"rtank.png");
}

.counter{
	font-style: bold;
	font-size: 25px;
	position: absolute;
	right: 2px;
	bottom: 0;
	color: $counter-clr;
}

.character{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}

#link{
	position: absolute;
	left: 0;
	top: 0;
}

.tunic{
	width: 128px;
	height: 128px;
}

.tunic0{
	background-image: image-url($img+"tunic0.png");
}

.tunic1{
	background-image: image-url($img+"tunic1.png");
}

.tunic2{
	background-image: image-url($img+"tunic2.png");
}

.tunicbunny0{
	background-image: image-url($img+"tunicbunny0.png");
}

.tunicbunny1{
	background-image: image-url($img+"tunicbunny1.png");
}

.tunicbunny2{
	background-image: image-url($img+"tunicbunny2.png");
}

#sword{
	position: absolute;
	right: 0;
	top: 18px;
}

.sword0{
	background-image: image-url($img+"sword0.png");
}

.sword1{
	background-image: image-url($img+"sword1.png");
}

.sword2{
	background-image: image-url($img+"sword2.png");
}

.sword3{
	background-image: image-url($img+"sword3.png");
}

.sword4{
	background-image: image-url($img+"sword4.png");
}

#shield{
	position: absolute;
	left: -5px;
	bottom: 0;
}

.shield0{
	background-image: image-url($img+"shield0.png");
}

.shield1{
	background-image: image-url($img+"shield1.png");
}

.shield2{
	background-image: image-url($img+"shield2.png");
}

.shield3{
	background-image: image-url($img+"shield3.png");
}

.moonpearl{
	width: 48px;
	height: 48px;
	background-image: image-url($img+"moonpearl.png");
	position: absolute;
	right: 0;
	bottom: -5px;
}

.bow0{
	background-image: image-url($img+"bow0.png");	
}

.bow1{
	background-image: image-url($img+"bow1.png");
}

.bow2{
	background-image: image-url($img+"bow2.png");
}

.bow3{
	background-image: image-url($img+"bow3.png");
}

.boomerang0{
	background-image: image-url($img+"boomerang0.png");
}

.boomerang1{
	background-image: image-url($img+"boomerang0.png");
}

.boomerang2{
	background-image: image-url($img+"boomerang1.png");
}

.boomerang3{
	background-image: image-url($img+"boomerang2.png");
}

.hookshot{
	background-image: image-url($img+"hookshot.png");
}

.mushroom{
	background-image: image-url($img+"mushroom.png");
}

.powder{
	background-image: image-url($img+"powder.png");
}

.firerod{
	background-image: image-url($img+"firerod.png");
}

.icerod{
	background-image: image-url($img+"icerod.png");
}

.bombos{
	background-image: image-url($img+"bombos.png");
}

.ether{
	background-image: image-url($img+"ether.png");
}

.quake{
	background-image: image-url($img+"quake.png");
}

.lantern{
	background-image: image-url($img+"lantern.png");
}

.hammer{
	background-image: image-url($img+"hammer.png");
}

.shovel{
	background-image: image-url($img+"shovel.png");
}

.net{
	background-image: image-url($img+"net.png");
}

.book{
	background-image: image-url($img+"book.png");
}

.bottle0{
	background-image: image-url($img+"bottle0.png");
}

.bottle1{
	background-image: image-url($img+"bottle1.png");
}

.bottle2{
	background-image: image-url($img+"bottle2.png");
}

.bottle3{
	background-image: image-url($img+"bottle3.png");
}

.bottle4{
	background-image: image-url($img+"bottle4.png");
}

.somaria{
	background-image: image-url($img+"somaria.png");
}

.byrna{
	background-image: image-url($img+"byrna.png");
}

.cape{
	background-image: image-url($img+"cape.png");
}

.mirror{
	background-image: image-url($img+"mirror.png");
}

.boots{
	background-image: image-url($img+"boots.png");
}

.glove0{
	background-image: image-url($img+"glove0.png");
}

.glove1{
	background-image: image-url($img+"glove0.png");
}

.glove2{
	background-image: image-url($img+"glove2.png");
}

.flippers{
	background-image: image-url($img+"flippers.png");
}

.flute{
	background-image: image-url($img+"flute.png");
}

.agahnim0{
	background-image: image-url($img+"agahnim0.png");
}

.agahnim1{
	background-image: image-url($img+"agahnim1.png");
}

.extras{
	height: 32px;
	width: 32px;
	position: absolute;
}

.prize{
	right: 0;
	bottom: 0;
}

.prize0{
	background-image: image-url($img+"prize0.png");
}

.prize1{
	background-image: image-url($img+"prize1.png");
}

.prize2{
	background-image: image-url($img+"prize2.png");
}

.prize3{
	background-image: image-url($img+"prize3.png");
}

.prize4{
	background-image: image-url($img+"prize4.png");
}

.medal{
	left: 0;
	bottom: 0;
}

.medallion0{
	background-image: image-url($img+"medallion0.png");
}

.medallion1{
	background-image: image-url($img+"medallion1.png");
}

.medallion2{
	background-image: image-url($img+"medallion2.png");
}

.medallion3{
	background-image: image-url($img+"medallion3.png");
}

.boss0{
	background-image: image-url($img+"boss0.png");
}

.boss1{
	background-image: image-url($img+"boss1.png");
}

.boss2{
	background-image: image-url($img+"boss2.png");
}

.boss3{
	background-image: image-url($img+"boss3.png");
}

.boss4{
	background-image: image-url($img+"boss4.png");
}

.boss5{
	background-image: image-url($img+"boss5.png");
}

.boss6{
	background-image: image-url($img+"boss6.png");
}

.boss7{
	background-image: image-url($img+"boss7.png");
}

.boss8{
	background-image: image-url($img+"boss8.png");
}

.boss9{
	background-image: image-url($img+"boss9.png");
}

.chest0{
	background-image: image-url($img+"chest0.png");
}

.chest1{
	background-image: image-url($img+"chest1.png");
}

.chest2{
	background-image: image-url($img+"chest2.png");
}

.chest3{
	background-image: image-url($img+"chest3.png");
}

.chest4{
	background-image: image-url($img+"chest4.png");
}

.chest5{
	background-image: image-url($img+"chest5.png");
}

.chest6{
	background-image: image-url($img+"chest6.png");
}